{% extends "public/templates/main_template.html" %}

{% block title %}MintX Feedback{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Contact us</h1>
      <hr>
      <div class="mb-3">
        <div class="container row">
            <div class="col-lg-12">
                <div>
                    <p style="text-align: center">
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfcqhg7hS_bJThSEnOgWtljXucUWw41r4oQwBKSV9F52XpJuw/viewform?embedded=true" width="840" height="1090" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                    </p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}