{% extends "public/templates/main_template.html" %}

{% block title %}Mint Explorer{% endblock %}
{% block head%}
{% endblock %}
{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Explore</h1>
      <hr>
      <div class="mb-3">
        <div class="form-group">
          <label>What Amazon category page you want to explore. Works for Best Sellers, New Releases, Movers and Shakers, etc.</label>
          <input type="text" class="form-control" id="target_page" name="target_page" placeholder="Paste the URL of your category page">
        </div>
        <button class="btn btn-primary" id="submit" onclick="submit_request();">Explore Category</button>
        <hr>
        <div id="resultSpace">
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/requestCategory.js') }}"></script>
{% endblock %}