{% extends "public/templates/table_template.html" %}

{% block title %}Xplorer{% endblock %}
{% block head%}
{% endblock %}
{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Explore</h1>
      <hr>
      <div class="mb-3">
        <div class="form-group">
          <label><p>What Amazon category page would you like to explore?</p><p></p>Works for Best Sellers, New Releases, Movers and Shakers, etc.</p></label>
          <input type="text" class="form-control" id="target_page" name="target_page" placeholder="Paste the URL of your category page">
        </div>
        <button class="btn btn-primary" disabled="true" id="submit" onclick="submit_request();">Explore Category</button>
        <hr>
        <div id="resultSpace">
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
   <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
   <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
   <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
   <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.bootstrap4.min.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
   <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/b-1.6.2/b-html5-1.6.2/datatables.min.js"></script>  
  <script src="{{ url_for('static', filename='js/requestCategory.js') }}"></script>
{% endblock %}